.movie-similar{
  .movie-similar__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

    .movie-similar__container-image{
      width:95%;
      height:100%;
      border-radius: 8px;
      pointer-events: none;
    }
    
    .movie-similar__container-title{
      margin-bottom: 10px;
      font-size: 1.1em;
      max-width: 80%;
      text-align: center;
    }
  }
}

