.movie-details-container {
    display: flex;
    flex-direction: column;

    .movie-details-container__overwiev{
        display: flex;
        flex-direction: column;
    }

    .movie-details-container__header {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 400px;
        margin: -24px -24px 24px;  
    }

    .movie-details-container__divider{
        color:white;
        font-weight: bold;
        font-size: large;
    }
}

.test2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    position: relative;
}