.welcome-page {
    background-image: url("../Images/welcomepage.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-page__action-form {
    position: absolute;
    right: 10%;
    top: 10%;
}

.welcome-page__footer {
    position: absolute;
    left: 2%;
    bottom: 2%;
    color: white;
    font-family: monospace;
    font-size: 15px;
}

#particles-js {
    height: 100%
}
