%display-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-page-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
    height: 100%;
}

.home-page-container-divider1 {
    grid-row-start: 3;
}

.home-page-container__welcome {
    font-size: 4em;
    color: rgb(9, 197, 214);
    display: flex;
    justify-content: center; 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}

.home-page-container__main {
    grid-column-start: 1;
    grid-column-end: 2;
    display: block;

    .home-page-container__main-title {
        font-size: 2em;
        color:  rgb(9, 197, 214);
        margin-left: 10px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    .home-page-container__main-content {
        display: flex;
    }

    .home-page-container__main-image {
        height: 80%;
        width: 80%;
        margin-left: 10px;
        border-radius: 16px;
        margin-right: 10px;
        max-height: 600px;

    }

    .home-page-container__main-description {
        margin-left: 10px;
        display: block;
    }
}

.home-page-container__upcomming{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    @extend %display-items;
    flex-direction: column;
    align-items: flex-start;

    .home-page-container__upcomming-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5px;

        .home-page-container__upcomming-item-image {
            width: 175px;
            height: 250px;
            margin-right: 20px;
            border-radius: 8px;
        }

        .home-page-container__upcomming-item-title {
            font-size: large;
        }
    }
}

.home-page-container__trending {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    @extend %display-items;
    flex-grow: 1;

    .home-page-container__trending-item {
        height: 100%;
        width: 25%;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .home-page-container__trending-item-image {
            width:95%;
            height:100%;
            border-radius: 8px;
        }

        .home-page-container__trending-item-title {
            font-size: large;
        }
    }
}