%display-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

%display-divider{
    font-size: 1.5em;
    font-weight: bold;
    color:  white;
}

.home-page-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    height: 100%;

    .home-page-container__main-title {
        @extend %display-divider;
    }
}

.home-page-container__random {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-page-container__upcomming{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    // display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .home-page-container__upcomming-title{
        @extend %display-divider;
    }
    
}   


.home-page-container__trending {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    @extend %display-items;
    flex-grow: 1;
    display: block;

    .home-page-container-trending-title{
        @extend %display-divider;
    }

    .home-page-container__trending-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        user-select: none;

        .home-page-container__trending-item-image {
            width:95%;
            height:100%;
            border-radius: 8px;
            pointer-events: none;
        }

        .home-page-container__trending-item-title {
            font-size: large;
            text-align: center;
        }
    }
}
