.contact{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; 
  background-image: url("../../Images/welcomepage.jpg");
  color: white;
  background-size: cover;

  .contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 150px;

    svg {
      fill: white;
      width: 100px;
      height: 100px;
    }
    
    span {
      font-size: 54px;
      font-weight: bold;
    };

    .contact__content-github {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 12px;
    
      .contact__content-github-img {
        margin-top: 24px;
        transition: transform .2s;
      };

      .contact__content-github-img:hover {
        transform: scale(1.3);
      };
    };
  
    .contact__content-items {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 24px;

      .contact__content-items-item {
        transition: transform .2s;
      };

      .contact__content-items-item:hover {
        transform: scale(1.3);
      };
    };
  }; 
};