$search-bar-color: rgba(9, 197, 214, 0.4);

.nav-bar-menu {
  display: flex;
  justify-content: center;

}

.ant-input-wrapper {
  top: 25%
}

.nav-bar-menu__your-profile-bttn {
  justify-content: flex-end
 
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;

  .ant-menu {
      .ant-menu-item-selected {
          background-color: transparent;
      }
  }

  .ant-menu-item:hover {
      svg {
          fill: red;
      }
  }
   
  .ant-btn-primary {
      background:  $search-bar-color;
      border-color: $search-bar-color;
      color: black;
  }

  .ant-menu-item .nav-bar-menu__title {
      font-size: 1.1em;
      color: rgb(9, 197, 214);
  }
  .ant-menu-item .nav-bar-menu__title:hover {
      color: red
  }

}

.home-header {
  display: flex;
  width: 10%;

  .anticon {
      font-size: 40px;

      svg {
          color: rgb(9, 197, 214);
      }
  }

  .ant-menu-item{
      display: flex;
      align-items: center;
  }
}

.nav-bar-menu {
  .ant-menu-submenu-title:hover {
      color: #1890ff
  }

  .ant-menu-submenu-title {
      color:white
  }
}

.your-profile {
  width: 10%;
}