.recent-movies {
  .recent-movies__container {
    .infinite-scroll-component {
      overflow: hidden !important; // to overwrite bugged inline style
    };

    .infinite-scroll-component > :first-child {
      margin-top: 12px;
    };

    .recent-movies__item {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      height: 100%;
      width: 100%;
      margin-bottom: 20px;
    };
    
    .recent-movies__spin {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .upcomming-container {
      margin-top: 0;

      .upcomming-container__image{
        margin-right: auto;
      }
    }  
  }

  .recent-movies__title{
    margin-top: 0px;
  }

  .recent-movies__title :nth-child(1){
    color:rgb(175, 171, 171);
    font-size: x-large;
  }
  
  .recent-movies__title :nth-child(2){
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
  }
}
