$search-bar-color: rgba(9, 197, 214, 0.4);

.site-layout .site-layout-background {
    background: #fff;
    height: 100%;
  }

.ant-layout {
    height: 100%;
}

.nav-bar-menu {
    display: flex;
    justify-content: center;
}

.ant-input-wrapper {
    top: 25%
}

.nav-bar-menu__your-profile-bttn {
    justify-content: flex-end
}

.ant-layout-header {
    display: flex;
    justify-content: space-between;
}

.ant-layout-header .ant-menu .ant-menu-item-selected {
    background-color: transparent;
}

.ant-layout-header .ant-menu-item:hover svg {
    fill: red;
}

.header-home .anticon {
    font-size: 40px;
}

.header-home .anticon svg {
    color: rgb(9, 197, 214);
}

.header-home .ant-menu-item {
    display: flex;
    align-items: center;
}

.header-home {
    display: flex;
}

.ant-layout-header .ant-btn-primary {
    background:  $search-bar-color;
    border-color: $search-bar-color;
    color: black;
}
