.site-layout .site-layout-background {
    background: #fff;
    height: 100%;
  }

.ant-layout {
    height: 100%;
}

.nav-bar-menu {
    display: flex;
    justify-content: center;
}

.ant-input-wrapper {
    top: 25%
}

.nav-bar-menu__your-profile-bttn {
    justify-content: flex-end
}