$search-bar-color: rgba(9, 197, 214, 0.4);
$content-max-width: 1280px;

@media only screen and (max-width: $content-max-width) {
    .ant-layout .site-layout .site-layout__container { 
        display: flex ;

        .site-layout__container-margin-left, 
        .site-layout__container-margin-right {
            display:none;     
        }

        .site-layout__container-margin-main {
            width: 100%;
        }
    }
}
  
.site-layout {   
    .site-layout__container {
        background: #032646;
        height: 100%;
        display: grid;
        grid-template-columns: minmax(0,1.5fr) minmax($content-max-width ,5fr) minmax(0,1.5fr);
      }

    .site-layout__container-margin-right, 
    .site-layout__container-margin-left {
        background-image: url("../Images/welcomepage.jpg");
    }

    .site-layout__container-margin-right {
        background-position: top;
    }

    .site-layout__container-main {
        color: white;
    }

}

.ant-layout {
    height: 100%;
    
}

.nav-bar-menu {
    display: flex;
    justify-content: center;

}

.ant-input-wrapper {
    top: 25%
}

.nav-bar-menu__your-profile-bttn {
    justify-content: flex-end
   
}

.ant-layout-header {
    display: flex;
    justify-content: space-between;

    .ant-menu {
        .ant-menu-item-selected {
            background-color: transparent;
        }
    }

    .ant-menu-item:hover {
        svg {
            fill: red;
        }
    }
     
    .ant-btn-primary {
        background:  $search-bar-color;
        border-color: $search-bar-color;
        color: black;
    }

    .ant-menu-item .header-home_nav-bar-menu-movie-lounge {
        font-size: 1.1em;
        color: rgb(9, 197, 214);
    }
    .ant-menu-item .header-home_nav-bar-menu-movie-lounge:hover {
        color: red
    }

}

.header-home {
    display: flex;
    width: 10%;

    .anticon {
        font-size: 40px;

        svg {
            color: rgb(9, 197, 214);
        }
    }

    .ant-menu-item{
        display: flex;
        align-items: center;
    }
}

.nav-bar-menu {
    .ant-menu-submenu-title:hover {
        color: #1890ff
    }

    .ant-menu-submenu-title {
        color:white
    }
}

.your-profile {
    width: 10%;
}