.registration{

	.registration__title {
		color: white ;
		padding-bottom: 20px;
		font-size: 30px;
		text-align: center;
	}
	
	.ant-form-horizontal label {
		color: white;
	}
	
	.ant-form-item-extra{
		color: lightgrey;
	}
	
	.ant-form-item-control{
		margin-left: 12px;
		width: 333px;
	}

	.registration__footer{
		display: flex;
    flex-direction: column;
		align-items: center;
		
		.ant-btn-primary{
			width: 416px;
			// background-color: #102438b0;
			background-color: rgba(0,0,0,0.7);
			border: none;
			transition: transform .2s;
		}

		.ant-btn-primary:hover{
			color: rgb(250, 250, 174);
			transform: scale(1.05);
		}
	}

	.registration__footer a {
		color: aqua;
	}
}

